*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}
.main-nav {
    background-color: royalblue;
    color:#d4a72c !important;
    box-sizing: border-box;
    
     
}
.nav-brand {
    color: rgb(255, 255, 255) !important;
    
}
.nav-listitems li a {
    color: whitesmoke !important;
    margin: 0px 10px !important;
}
.nav-listitems li:hover {
    /* background-color: rgb(216, 222, 222) !important; */
    border-bottom: 3px groove #98ab9e !important;
    box-shadow: 3px 0px 0px 0px #98ab9e;
    color: rgb(255, 0, 136) !important
}
.nav-listitems {
    margin-left: auto;
}
.nav-dropdown {
    background: #98ab9e !important;
    color: white !important
}
.nav-dropdown a:hover {
    background: lightblue !important;

}
.carousel-section {
    height: 500px !important;
    object-fit: cover;
    
}
.c-item {
    height: 500px !important;
    object-fit: cover !important;
    
    
    position: relative !important;
}
.c-caption {
    position: absolute !important;
    top: -20px !important ;
    
}
.c-caption .p1 {
    color: rgb(250, 250, 250);
    font-size: 20px !important;
    margin: 0px;
    padding: 0px
}
.c-caption .p2 {
    font-size: 30px !important;
    margin: 0px;
    padding: 0px
}
.c-caption .p3 {
    font-size: 22px !important;
}
#img-fluid{
    width: 100% !important;
    height: 100% !important;
    
    
}
.about-section p {
    line-height: 28px;
    text-align: justify;
    background-color: #f8f6fb;
}
.abuse-img {
    height: 350px !important;
}
.abuse-img1 {
   
    height: 400px !important;
    margin-top: 10px !important;
}
.abuse-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.full-detail {
    background-color: rgb(135, 145, 149) !important;
}
.full-detail1 {
    background-color:#12343b !important;
    
}
.abuse-para {
    line-height: 28px;
    text-align: justify;
    font-size: 18px;
    color: lightgoldenrodyellow

}
.card-img {
    height: 500px !important;
}
.card-section {
    /* background-color: rgba(197, 197, 255, 0.5); */
}
.incidents-section {
    background-color: rgba(50, 70, 63, 0.5) !important;
}
.bg-btn {
    background-color: rgba(255, 248, 190, 0.4) !important;
    
}
.full-bg {
    background-color: #f6f3fb;
}
.bg-header {
    background: linear-gradient(45deg,  rgb(185, 246, 206), rgb(205, 188, 234))
}