*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}
.main-nav {
    background-color: royalblue;
    color:#d4a72c !important;
    box-sizing: border-box;
    
     
}
.nav-brand {
    color: rgb(255, 255, 255) !important;
    
}
.nav-listitems li a {
    color: whitesmoke !important;
    margin: 0px 10px !important;
}
.nav-listitems li:hover {
    /* background-color: rgb(216, 222, 222) !important; */
    border-bottom: 3px groove #98ab9e !important;
    box-shadow: 3px 0px 0px 0px #98ab9e;
    color: rgb(255, 0, 136) !important
}
.nav-listitems {
    margin-left: auto;
}
.nav-dropdown {
    background: #98ab9e !important;
    color: white !important
}
.nav-dropdown a:hover {
    background: lightblue !important;

}
.carousel-section {
    height: 500px !important;
    object-fit: cover;
    
}
.c-item {
    height: 500px !important;
    object-fit: cover !important;
    
    
    position: relative !important;
}
.c-caption {
    position: absolute !important;
    top: -20px !important ;
    
}
.c-caption .p1 {
    color: rgb(250, 250, 250);
    font-size: 20px !important;
    margin: 0px;
    padding: 0px
}
.c-caption .p2 {
    font-size: 30px !important;
    margin: 0px;
    padding: 0px
}
.c-caption .p3 {
    font-size: 22px !important;
}
#img-fluid{
    width: 100% !important;
    height: 100% !important;
    
    
}
.about-section p {
    line-height: 34px;
    text-align: justify;
    background-color: #f8f6fb;
    font-size: 18px;
}
.abuse-img {
    height: 350px !important;
}
.abuse-img1 {
   
    height: 400px !important;
    margin-top: 10px !important;
}
.abuse-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.full-detail {
    background-color: #fae0e4 !important;
}
.abuse-para1 {
    line-height: 34px ;
    text-align: justify;
    font-size: 18px;
    color: black

}
.full-detail1 {
    
    
}
.abuse-para {
    line-height: 36px ;
    text-align: justify;
    font-size: 18px;
    color:#fdf7ff !important
    

}
.card-img {
    height: 450px !important;
    margin:0px !important;
    padding: 0px !important;
}
.card-section {
    background-color: #D462FF;
    
    margin-top: 5px;
   
}
.card-section .row {
    display: flex;
    justify-content: space-around !important;
    align-items: center;

}
.bg-card {
    background-color: #ffe3ec;
    box-shadow: 10px 10px 10px #987fa1;
}
.card-para1 {
    text-align: justify !important;
    padding-bottom: 20px ;
    
   
}
.card-para2 {
    text-align: justify !important;
    margin-bottom: 4px ;
    
   
}
.card-para3 {
    text-align: justify !important;
    margin-bottom: 10px ;
   
}
.incidents-section {
    background-color: rgba(26, 203, 141, 0.5) !important;
}
.bg-btn {
    background-color: rgba(255, 248, 190, 0.4) !important;
    
}
.full-bg {
    background-color: #f6f3fb;
}
.bg-header {
    background: linear-gradient(45deg,  rgb(185, 246, 206), rgb(205, 188, 234))
}
.evil-card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.evil-img {
    border:1px solid rgb(235, 217, 227); 
    border-radius: 50% !important;
    text-align: center;
    width: 200px;
    height: 200px;
    position: relative;
    top: -50px !important;
    box-shadow: #d0cbe6;
}
#allegations {
    
    background-color: #342D7E !important;
}
.allegation-row {
    display: flex !important;
    align-items: center !important;
    justify-content: space-around !important;
}
.evil-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    
}
.evil-box {
    
    background: linear-gradient(180deg, #fffcfd, #d0cbe6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border-radius: 10px; 
    box-sizing: border-box;
    box-shadow: 10px 10px 10px rgba(253, 253, 253, 0.2);
    padding: 5px;
   
}
.evil-box p {
    text-align: justify !important;
    margin: 0px 5px !important;

}
.evil-section {
    background-color: #555767;
    padding: 26px !important;
}
.evil-para1 {
    padding-bottom: 46px !important;
    
}
.evil-title {
    font-size: 18px !important;
    color: rgb(255, 27, 27);
    padding-bottom: 5px !important;
}
.sexual-img {
    width:80%;
    height: 350px;
}
.sexual-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.sexual-para {
    text-align: justify;
    line-height: 32px;
    font-size: 20px;
}
